spring:
  application:
    name: Ssak3
  config:
    import: optional:file:.env[.properties]
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: ${DDL}
    properties:
      hibernate:
        format_sql: false
    show-sql: false
  jackson:
    time-zone: Asia/Seoul
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

logging:
  level:
    org.hibernate.SQL: off
    org.hibernate.orm.jdbc.bind: off

jwt:
  secret:
    key: ${SECRET_KEY}

kakao:
  client_id: ${CLIENT_ID}
  redirect_uri: ${REDIRECT_URI}
  client_secret: ${CLIENT_SECRET}
